<!--
<table>
  <thead>
    <tr>
      <th>Date</th>
      <th>Description</th>
      <%= "<th>Specie</th>".html_safe if encounters.first["common"] %>
    </tr>
  </thead>
  <tbody>
    <% encounters.each do |e| %>
      <tr>
        <td><%= link_to e.date, encounter_path(e.id) %></td>
        <td><%= e.description %></td>
        <td><%= link_to e.common, specie_path(e.specie_id) if e["common"]%></td>
      </tr>
    <% end %>
  </tbody>
</table>
-->
<div class="list">
  <% encounters.each do |e| %>
    <a class="list-item" href="<%= encounter_path(e.id) %>">
      <img src="https://www.bio-techfar.com/images/assets/leaf.png" />
      <div class="list-item__text-group">
        <div class="list-item__text-group__title">
          <%= (e["common"] != nil) ? e.common : e.description %>
        </div>
        <div class="list-item__text-group__sub-title">
          <%= e.date %>
        </div>
      </div>
    </a>
  <% end %>
</div>
