<!--
<table>
  <thead>
    <tr>
      <th>Date</th>
      <th>Description</th>
      <%= "<th>Specie</th>".html_safe if encounters.first["common"] %>
    </tr>
  </thead>
  <tbody>
    <% encounters.each do |e| %>
      <tr>
        <td><%= link_to e.date, encounter_path(e.id) %></td>
        <td><%= e.description %></td>
        <td><%= link_to e.common, specie_path(e.specie_id) if e["common"]%></td>
      </tr>
    <% end %>
  </tbody>
</table>
-->
<div class="list" id="encounter">
  <input type="text" id="encounterSearch" placeholder="Search" style="width: calc(100% - 100px); margin: 20px;"/>
  <p id="encounterSearchResults" style="display: none; margin: 20px; padding-bottom: 20px;">Sorry, there are no search results.</p>
  <% encounters.each do |e| %>
    <a class="list-item" href="<%= encounter_path(e.id) %>">
      <img src="https://www.bio-techfar.com/images/assets/leaf.png" />
      <div class="list-item__text-group">
        <div class="list-item__text-group__title">
          <%= (e["common"] != nil) ? e.common : e.description %>
        </div>
        <div class="list-item__text-group__sub-title">
          <%= e.date %>
        </div>
      </div>
    </a>
  <% end %>
</div>

<script>
  const encounterSearch =  document.getElementById("encounterSearch");

  const filterEncounterResults = () => {
    let resultCount = 0;
    document.querySelectorAll(".list-item").forEach((l) => {
      if(l.innerHTML.indexOf("bio-techfar") != -1){
        if(l.innerHTML.toLowerCase().indexOf(encounterSearch.value.toLowerCase()) != -1 && encounterSearch.value != ""){
          l.style["display"] =  "block";
          resultCount++;
        }else if(encounterSearch.value != ""){
            l.style["display"] =  "none";
        }else{
            resultCount++;
            l.style["display"] =  "block";
        }
      }
    });
    const searchResults = document.getElementById("encounterSearchResults");
    if(resultCount === 0){
      searchResults.style.display = "block";
    }else{
      searchResults.style.display = "none";
    }
  }

  window.onload = filterEncounterResults();

  encounterSearch.addEventListener("keyup", () => filterEncounterResults());
</script>