<div class="content-card">
  <h3>Edit Encounter</h3>
  <%= form_tag(encounter_path(@encounter), method: "put") do %>
    <div class="form-group">
      <%= label_tag :description %>
      <%= text_field_tag :description, @encounter.description %>
    </div>
    <h3>Location</h3>
    <div class="form-group">
      <%= label_tag :address %>
      <%= text_field_tag :address, @location.address %>
    </div>
    <div class="form-group">
      <%= label_tag :city %>
      <%= text_field_tag :city, @location.city %>
    </div>
    <div class="form-group">
      <%= label_tag :state %>
      <%= text_field_tag :state, @location.state %>
    </div>
    <div class="form-group">
      <%= label_tag :country %>
      <%= text_field_tag :country, @location.country %>
    </div>
    <div class="form-group select-specie">
      <%= label_tag :specie, 'Select a Specie Already in our System' %>
      <%= select_tag(:specie, options_from_collection_for_select(Specie.all.order("common ASC"), "id", "common"))%>
    </div>
    <div class="field">
      <%= label :toggleSpecie, 'Or Add a New Specie' %>
      <input type="checkbox" id="toggleSpecie" name="toggleSpecie" id="toggleSpecie"/>
    </div>
    <div class="specie-fields">
      <h3>New Specie</h3>
      <div class="form-group">
        <%= label_tag :common, 'Common Name' %>
        <%= text_field_tag :common %>
      </div>
      <div class="form-group" >
        <%= label_tag :scientific, 'Scientific Name' %>
        <%= text_field_tag :scientific %>
      </div>
    </div>
    <br />
    <%= submit_tag "Update!", class: 'green-button' %>
  <% end %>
</div>
<%= javascript_include_tag 'encounterForm' %>
