<div class="content-card">
  <h3>Edit Encounter</h3>
  <%= form_tag(encounter_path(@encounter), method: "put") do %>
    <div class="form-group">
      <%= label_tag :description %>
      <%= text_field_tag :description, @encounter.description %>
    </div>
    <!--
    <h3>Location</h3>
    <div class="form-group">
      <%= label_tag :address %>
      <%= text_field_tag :address, @location.address %>
    </div>
    <div class="form-group">
      <%= label_tag :city %>
      <%= text_field_tag :city, @location.city %>
    </div>
    <div class="form-group">
      <%= label_tag :state %>
      <%= text_field_tag :state, @location.state %>
    </div>
    <div class="form-group">
      <%= label_tag :country %>
      <%= text_field_tag :country, @location.country %>
    </div>
    !-->
    <h3>Specie</h3>
    <div class="form-group">
      <%= label_tag :specie_id, 'Select from species in the system.' %>
      <%= select_tag :specie_id, options_from_collection_for_select(Specie.all.order("common ASC"), "id", "common")%>
    </div>
    <%= submit_tag "Update Encounter", class: "green-button" %>
  <% end %>
</div>
