<div class="content-card">
  <div class="loco-map">
    <h1 class="loco-map-right-title"><%= @month != false ? @month : "#{@start} to #{@end}" %> Encounters</h1>
    <div id="locoMap"></div>
  </div>
  <script src='https://api.mapbox.com/mapbox-gl-js/v0.46.0/mapbox-gl.js'></script>
  <link href='https://api.mapbox.com/mapbox-gl-js/v0.46.0/mapbox-gl.css' rel='stylesheet' />
  <script>
    const START = "<%= @start %>";
    const END = "<%= @end %>";
    const PATH = "<%= get_by_range_api_path(start: @start,end: @end) %>".substring(1);
  </script>
  <%= javascript_include_tag "dateMap" %>
  <%= render partial: "encounter/table", locals: {encounters: @encounters} %>
  <br />
  <%= back_button({ path: root_path})  %>
</div>
