<div class="content-card">
  <div class="loco-map">
    <h1 class="loco-map-right-title"><%= @date %> Encounters</h1>
    <div id="locoMap"></div>
  </div>
  <script src='https://api.mapbox.com/mapbox-gl-js/v0.46.0/mapbox-gl.js'></script>
  <link href='https://api.mapbox.com/mapbox-gl-js/v0.46.0/mapbox-gl.css' rel='stylesheet' />
  <script>
    const DATE = "<%= @date %>";
  </script>
  <%= javascript_include_tag "dateMap" %>
  <%= render partial: "encounter/table", locals: {encounters: @encounters} %>
  <br />
  <%= back_button({ path: root_path})  %>
</div>
