<div class="content-card">
  <h1><%= (@encounter.date_occurences == 1) ? @encounter.date : link_to(@encounter.date, get_by_date_path({date: @encounter.date})) %></h1>
  <p><%= link_to "<i class='fas fa-leaf'></i> #{@specie.common}, #{@specie.scientific}".html_safe, specie_path(@specie.id) %></p>
  <%= link_to "<i class='fas fa-map-marker-alt'></i> #{@location.full_address}".html_safe, location_path(@location.id) %>
  <br />
  <br />
  <%= link_to "<i class='fas fa-calendar-alt'></i> #{@encounter.date.month}/#{@encounter.date.year} Encounters".html_safe, get_by_range_path(@encounter.get_month) %>
  <br />
  <br />
  <%= link_to "<i class='fas fa-search'></i> #{@user.display}".html_safe, user_encounters_path(user: @user.id) %>
  <p><%= link_to "Edit", edit_encounter_path if signed_in? && current_user.is_mine(@encounter) %></p>
  <p><%= @encounter.description %></p>
  <%= back_button({ path: location_path(@encounter.location_id)}) %>
</div>
