<!--
<table>
  <thead>
    <tr>
      <th>Address</th>
      <th>City</th>
      <th>State</th>
      <th>Country</th>
    </tr>
  </thead>
  <tbody>
    <% locations.each do |l| %>
      <tr>
        <td><%= link_to ((l.address != "") ? l.address : 'View'), location_path(l.id) %></td>
        <td><%= l.city %></td>
        <td><%= link_to l.state, get_by_state_path(state: l.state) %></td>
        <td><%= l.country %></td>
      </tr>
    <% end %>
  </tbody>
</table>
!-->
<div class="list">
  <% locations.each do |l| %>
    <a class="list-item" href="<%= location_path(l.id) %>">
      <%= image_tag "pin" %>
      <p><%= l.full_address %></p>
    </a>
  <% end %>
</div>
