<div class="content-card">
  <div class="loco-map">
    <h1 class="loco-map-title">Encounters for <%= @location.safe_title %></h1>
    <div class="loco-map-mask"></div>
    <div id="locoMap"></div>
  </div>
  <p><%= @location.full_address %></p>
  <script src='https://api.mapbox.com/mapbox-gl-js/v0.46.0/mapbox-gl.js'></script>
  <link href='https://api.mapbox.com/mapbox-gl-js/v0.46.0/mapbox-gl.css' rel='stylesheet' />
  <script>
    const LOCATION = [<%= @location.latitude %>, <%= @location.longitude %>];
    const ZOOM = 10;
  </script>
  <%= javascript_include_tag 'locationMap' %>
  <%= link_to "<i class='fas fa-map-marked'></i> View all encounters in #{@location.state}.".html_safe, get_by_state_path(state: @location.state) %>
  <p>
    Create New Encounter
    <%= link_to "<i class='fas fa-plus'></i>".html_safe, new_encounter_path(address: @location.address, city: @location.city, state: @location.state, country: @location.country), class: 'round-button' if user_signed_in?%>
  </p>
  <h3>Encounters</h3>
  <%= render partial: "encounter/table", locals: {encounters: @encounters} %>
  <br />
  <%= back_button({path: root_path}) %></h1>
</div>
