<nav>
  <div class="nav-title-group">
    <div class="toggle-wrapper">
      <button id="toggle" class="toggle toggle__open">
        <div class="toggle-one"></div>
        <div class="toggle-two"></div>
        <div class="toggle-three"></div>
      </button>
    </div>
    <h1><%= link_to "Bio Encounters", root_path %></h1>
  </div>
  <div class="menu menu__hide">
    <div class="menu-item">
      <%= link_to "Species", specie_index_path %>
    </div>
    <% if current_user == nil %>
      <div class="menu-item"><%= link_to "Sign In", new_user_session_path %></div>
      <div class="menu-item"><%= link_to "Sign Up", new_user_registration_path%></div>
    <% else %>
      <div class="menu-item menu-profile">
        <div class="menu-profile-header"><%= current_user.email %></div>
        <div class="menu-profile-items">
          <%= link_to "Sign Out", destroy_user_session_path, method: :delete, class: "menu-profile-item" %>
          <%= link_to "My Encounters", my_encounters_path(current_user.id), class: "menu-profile-item" %>
        </div>
      </div>
    <% end %>
  </div>
</nav>
