<!DOCTYPE html>
<html>
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Bioencounters</title>
    <%= csrf_meta_tags %>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.1.0/css/all.css" integrity="sha384-lKuwvrZot6UHsBSfcMvOkWwlCMgc0TaWr+30HWe3a4ltaBwTZhyTEggF5tJv8tbt" crossorigin="anonymous">
    <script>
      const ROOT_URL = "<%= root_url %>";
      console.log(ROOT_URL);
    </script>
    <%= javascript_include_tag 'application' %>
  </head>
  <body>
    <div class="push">
      <%= render partial: "sharred/nav" %>
      <div class="container-wrapper">
        <div class="container">
          <%= render partial: "sharred/alert", locals: {alert: alert, notice: notice} %>
          <%= yield %>
        </div>
      </div>
    </div>
    <%= render partial: "sharred/footer" %>
    <%= javascript_include_tag 'nav' %>
    <%= javascript_include_tag 'alert' %>
    <%= javascript_include_tag 'input' %>
  </body>
</html>
