<!DOCTYPE html>
<html>
  <head>
    <title>Bioencounters</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <div class="push">
      <%= render partial: "sharred/nav" %>
      <div class="container-wrapper">
        <div class="container">
          <p class="notice"><%= notice %></p>
          <p class="alert"><%= alert %></p>
          <%= yield %>
        </div>
      </div>
    </div>
    <footer>
      <%= link_to "Admin", admin_path %>
    </footer>
    <%= javascript_include_tag 'nav' %>
  </body>
</html>
